@import 'syntax-variables';

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
  }

  .line-number.cursor-line-no-selection {
    background-color: @syntax-gutter-background-color-selected;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .search-results .marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }

  .search-results .marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
  }
}

.comment {
  color: @brown;
}

.constant {
  &.character,
  &.language,
  &.numeric,
  &.other {
    color: @purple;
  }
}

.entity {
  &.name.class {
    text-decoration: none;
    color: @green;
  }

  &.name.function {
    color: @green;
  }

  &.name.instance {
    color: @blue;
  }

  &.name.tag {
    color: @pink;
  }

  &.other.attribute-name {
    color: @green;
  }

  &.other.inherited-class {
    font-style: italic;
    text-decoration: none;
    color: @green;
  }
}

.invalid {
  color: @ghost-white;
  background-color: @pink;

  &.deprecated {
    background-color: @purple;
  }
}

.keyword {
  color: @pink;
  font-weight: bold;
}

.meta.tag {
  color: @syntax-text-color;
}

.storage {
  color: mix(@pink, gold);

  &.function {
    font-style: italic;
    color: @blue;
  }
}

.string {
  color: @yellow;
}

.support {
  &.constant,
  &.function {
    color: @blue;
  }

  &.class,
  &.type {
    font-style: italic;
    color: @blue;
  }
}

.variable {
  &.parameter {
    font-style: italic;
    color: @orange;
  }

  &.language {
    color: @blue;
  }
}

// Prevent underlines from making their way into whitespace elements
.leading-whitespace,
.trailing-whitespace {
  display: inline-block;
}
